.button {
    width: 100%;
    background: darkblue;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 23px;
}

.button:disabled {
    background: #888;
    cursor: not-allowed;
}